@import "~@/assets/css/global.less";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px
}

.block {
    display: block;
    width: 100%;
}

#app {
    margin: 0 auto;
    background: #fff;
    max-width: @containerW;
    border-left:1px #eee solid;
    border-right: 1px #eee solid;
}


/**滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    background-color: #eee;
    border-radius: 10px;
  }
  
  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #bfc1c4;
    border-radius: 10px;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner:hover,
  .el-button--primary,
  .el-button--primary:hover{
      background-color: @maincolor1;
      border-color:@maincolor1
  }
.container {
    padding:0 @contentPadding;
}
.content {
 overflow-y: auto;
  height:calc(~"100vh - @{headerH} - @{footerH}");
  }




