<template>
  <div class="main_container">
    <head-bar></head-bar>
    <div class="content container">
      <div class="banner">
        <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
          <van-swipe-item
            v-for="(item, index) in bannerList"
            :key="index"
            class="banner_item"
            ><a href="javascript:void(0)" @click="testClick"
              ><img src="@/assets/images/banner_3.jpg" /></a
          ></van-swipe-item>
        </van-swipe>
      </div>

      <div class="goods">
        <van-tabs
          v-model="activeName"
          @click="handleClick"
          :class="{ fixed: fixedTab }"
          sticky
          :offset-top="50"
        >
          <van-tab title="精选" class="goods_box">
            <section
              class="goods_item"
              v-for="(item, index) in goods"
              :key="index"
            >
              <el-card :body-style="{ padding: '0px' }" shadow="hover">
                <img src="@/assets/images/goods_1.jpg" class="image" />
                <div class="goods_info">
                  <h6>{{ item.title }}</h6>
                  <div class="price_info">
                    <h3>
                      ￥<span class="price">{{ item.price }}</span
                      ><span class="old_price">￥{{ item.oldPrice }}</span>
                    </h3>
                  </div>
                  <a href="javascript:void(0)" class="add_cart">
                    <i class="el-icon-shopping-cart-2"></i>
                  </a>
                </div>
              </el-card>
            </section>
          </van-tab>
          <van-tab title="家居">内容 2</van-tab>
          <van-tab title="手机">内容 3</van-tab>
        </van-tabs>
        <!-- <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="精选" name="first" class="goods_box">
            <section
              class="goods_item"
              v-for="(item, index) in goods"
              :key="index"
            >
              <el-card :body-style="{ padding: '0px' }" shadow="hover">
                <img src="@/assets/images/goods_1.jpg" class="image" />
                <div class="goods_info">
                  <h6>{{ item.title }}</h6>
                  <div class="price_info">
                    <h3>
                      ￥<span class="price">{{ item.price }}</span
                      ><span class="old_price">￥{{ item.oldPrice }}</span>
                    </h3>
                  </div>
                  <a href="javascript:void(0)" class="add_cart">
                    <i class="el-icon-shopping-cart-2"></i>
                  </a>
                </div>
              </el-card>
            </section>
          </el-tab-pane>
          <el-tab-pane label="家居" name="second">家居</el-tab-pane>
          <el-tab-pane label="手机" name="third">手机</el-tab-pane>
        </el-tabs> -->
      </div>
    </div>
    <foot-bar></foot-bar>
  </div>
</template>
<script>
import { mapState } from "vuex";
import HeadBar from "@/components/HeadBar";
import FootBar from "@/components/FootBar";
export default {
  name: "Index",
  components: { HeadBar, FootBar },
  data() {
    return {
      activeName: "first",
      fixedTab: false,
      goods: [
        {
          id: "2323",
          title: "每日坚果亚麻籽谷物燕麦片600克",
          desc: "",
          price: 58,
          oldPrice: 68,
        },
        {
          id: "4545",
          title: "甜甜的糖果味女式轻量双肩包",
          desc: "",
          price: 98,
          oldPrice: 138,
        },
        {
          id: "2323",
          title: "每日坚果亚麻籽谷物燕麦片600克",
          desc: "",
          price: 58,
          oldPrice: 68,
        },
        {
          id: "4545",
          title: "甜甜的糖果味女式轻量双肩包",
          desc: "",
          price: 98,
          oldPrice: 138,
        },
        {
          id: "2323",
          title: "每日坚果亚麻籽谷物燕麦片600克",
          desc: "",
          price: 58,
          oldPrice: 68,
        },
        {
          id: "4545",
          title: "甜甜的糖果味女式轻量双肩包",
          desc: "",
          price: 98,
          oldPrice: 138,
        },
        {
          id: "2323",
          title: "每日坚果亚麻籽谷物燕麦片600克",
          desc: "",
          price: 58,
          oldPrice: 68,
        },
        {
          id: "4545",
          title: "甜甜的糖果味女式轻量双肩包",
          desc: "",
          price: 98,
          oldPrice: 138,
        },
      ],

      bannerList: [
        {
          id: "11",
          imgUrl: "/assets/img/banner_1.png",
        },
        {
          id: "22",
          imgUrl: "/assets/img/banner_2.png",
        },
        {
          id: "33",
          imgUrl: "/assets/img/banner_3.png",
        },
      ],
    };
  },
  mounted() {
  },
  methods: {
    handleClick(tab, event) {},
    testClick() {
      // this.$message({
      //   message: "恭喜你，这是一条成功消息",
      //   type: "success",
      // });
    },
  },
};
</script>
<style scoped lang="less">
@import "~@/assets/css/global.less";
.main_container {
  // padding-top: @headerH;
  // padding-bottom: @footerH;
}
.goods {
  /deep/ .van-tabs__wrap {
    margin-bottom: 1rem;
  }
  /deep/ .van-tab--active {
    color: @maincolor1;
  }
}
.goods_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -5px;
  margin-right: -5px;
  flex-wrap: wrap;
}
.goods_item {
  width: 50%;
  padding: 0 5px 10px;
  img {
    width: 100%;
  }
}

.banner {
  // height: 12rem;
}
.banner_item {
  img {
    width: 100%;
  }
}
.goods_info {
  padding: 10px;
  text-align: left;
  position: relative;
  .add_cart {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 1.8rem;
    height: 1.8rem;

    text-align: center;
    color: #fff;
    background: @maincolor3;
    border-radius: 50%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  h6 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 0.8rem;
  }
  h3 {
    color: #e50000;
    font-size: 0.8rem;
    font-weight: normal;
    .price {
      font-size: 1.5rem;
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
    }
    .old_price {
      color: #c6c6c6;
      font-weight: normal;
      text-decoration: line-through;
    }
  }
}
</style>
