<template>
  <div class="login_box">
    <h1>逛噻</h1>
    <van-form @submit="login">
      <van-field
        v-model="username"
        name="用户名"
        label="用户名"
        placeholder="用户名"
        :rules="[{ required: true, message: '请填写用户名' }]"
      />
      <van-field
        v-model="password"
        type="password"
        name="密码"
        label="密码"
        placeholder="密码"
        :rules="[{ required: true, message: '请填写密码' }]"
      />
      <div style="margin: 16px">
        <van-button round block type="info" native-type="submit"
          >登录</van-button
        >
      </div>
    </van-form>
    <!-- <el-button type="primary" @click="login">登录</el-button> -->
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Login",
  components: {},
  data() {
    return {
      username:"",
      password:"",

    };
  },
  methods: {
    login() {
      //登录
      this.$router.push({ name: "Index" });
    },
  },
};
</script>
<style scoped lang="less">
@import "~@/assets/css/global.less";
.login_box{
  padding:20% 15% 0;
  h1{
    text-align: center;
    color:@maincolor1;
    margin-bottom:4rem;
  }
}
</style>
