<template>
  <div class="main_container">
    <div class="page_head container">
      <div class="personal_info">
        <figure>
          <img src="@/assets/images/user.png" />
        </figure>
        <section>
          <h1>仙女山的星星</h1>
          <p>yangsai</p>
        </section>
        <a href="javascript:void(0)" class="logout_btn" @click="logout">退出登录</a>
      </div>
      <section class="center_bar">
        <van-grid :border="false" :column-num="3" icon-size="20px">
          <van-grid-item icon="star-o" text="我的收藏" />
          <van-grid-item icon="clock-o" text="足迹" />
          <van-grid-item icon="location-o" text="收货地址" />
        </van-grid>
      </section>
    </div>
    <div class="content container">
      <section class="card_box">
        <h2 class="title_info">
          我的订单
          <a href="javascript:void(0)" @click="toOrder">全部订单<van-icon name="arrow" /></a>
        </h2>
        <van-grid :border="false" :column-num="4">
          <van-grid-item icon="credit-pay" text="待付款" badge="2" to="/" />
          <van-grid-item icon="logistics" text="待收货"  badge="99+"/>
          <van-grid-item icon="chat-o" text="评价"  badge="99+"/>
           <van-grid-item icon="after-sale" text="退款/售后"  badge="" />
        </van-grid>
      </section>
    </div>

    <foot-bar></foot-bar>
  </div>
</template>
<script>
import { mapState } from "vuex";
import _ from "lodash";
import FootBar from "@/components/FootBar";
export default {
  name: "MyInfo",
  components: { FootBar },
  data() {
    return {
      checkAll: false,
      isIndeterminate: false,
    };
  },
  computed: {},
  mounted() {
  },
  methods: {
    toOrder(){
      this.$router.push({name:"MyOrder"})
    },
    logout(){
      this.$router.push({name:"Login"});
      localStorage.clear();
    }
  },
  watch: {
    cartLen(data) {
      this.$store.commit("setCartLen", data);
    },
  },
};
</script>
<style scoped lang="less">
@import "~@/assets/css/global.less";
@pageHeadH:160px;
.page_head {
  z-index: 10;
  background: #f3dbb7;
  height:@pageHeadH;
  .personal_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:1rem 0 0;
    position: relative;
    .logout_btn{
      display: block;
      position: absolute;
      right:-16px;
      top:27px;
      background: #fef8e8;
      padding:.3rem 1rem;
      border-top-left-radius:20px;
      border-bottom-left-radius: 20px;
      color:#805b41;
      font-size:.8rem;
    }
    figure {
      width: 60px;
      img {
        width: 100%;
      }
    }
    section {
      padding-left: 1rem;

      text-align: left;
      h1 {
        font-size: 1rem;
        font-size: 1.2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
.center_bar {
  /deep/ .van-grid-item__content {
    background: none;
  }
}
.content{
  background:#f4f4f4;
  padding-top:@contentPadding;
  height:calc(~"100vh - @{pageHeadH} - @{footerH}");
  .card_box{
    background:#fff;
    padding:1rem 1rem 0.5rem;
    border-radius: 10px;
    h2{
      margin-bottom: .5rem;
      font-size:.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a{
        color:#7e7e7e;
        font-size:.6rem;
      }
    }
  }
}
</style>
