<template>
  <div class="main_container">
    <search-bar @search="search"></search-bar>
    <div class="search_list">
      
      <van-card
  :num="item.num"
  :price="item.price"
  :desc="item.price"
  :title="item.title"
  thumb="https://img01.yzcdn.cn/vant/ipad.jpeg"
  :origin-price="item.originPrice"
  v-for="(item,index) in data"
  :key="index"
  class="item_box"
>
  <!-- <template #tags>
    <van-tag plain type="danger">标签</van-tag>
    <van-tag plain type="danger">标签</van-tag>
  </template>
  <template #footer>
    <van-button size="mini">按钮</van-button>
    <van-button size="mini">按钮</van-button>
  </template> -->
</van-card>

    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import _ from "lodash";
import searchBar from "@/components/searchBar.vue";
export default {
  name: "SearchResult",
  components: { searchBar },
  data() {
    return {
      data:[
        {
          title:"商品标题",
          desc:"描述信息",
          price:'279',
          originPrice:'688',
          num:1
        },
        {
          title:"商品标题",
          desc:"描述信息",
          price:'279',
          originPrice:'688',
          num:2
        },
        {
          title:"商品标题",
          desc:"描述信息",
          price:'279',
          originPrice:'688',
          num:1
        },
        {
          title:"商品标题",
          desc:"描述信息",
          price:'279',
          originPrice:'688',
          num:2
        },
        {
          title:"商品标题",
          desc:"描述信息",
          price:'279',
          originPrice:'688',
          num:1
        }
      ]
    };
  },
  computed: {},
  mounted() {},
  methods: {
    search(data){
      console.log("搜索",data,this.$route.query.type)
    }
  },
  watch: {},
};
</script>
<style scoped lang="less">
@import "~@/assets/css/global.less";
@card-background-color:#fff;
@card-padding:10px 0;
@card-title-line-height:20px;
@card-price-color:@maincolor4;
@card-price-font-size:1rem;
.search_list{
  background:#fff;
  padding:@contentPadding;
  text-align: left;
  height: calc(~"100vh - @{headerH}");
  overflow-y:auto;
  .item_box{
    cursor: pointer;
  }
}
</style>
