<template>
  <div class="main_container">
    <div class="page_head">
      <h1 class="container">
        购物车<span>({{ cartLen }})</span>
      </h1>
    </div>
    <div class="cart_box content container">
      <section class="cart_item" v-for="(item, index) in carts" :key="index">
        <el-checkbox
          size="medium"
          v-model="item.checked"
          style="width: 1.8rem"
          @change="hanldeChecked($event)"
        ></el-checkbox>
        <div class="goods_box">
          <figure>
            <img src="@/assets/images/goods_2.jpg" />
          </figure>
          <div class="goods_des">
            <h5>{{ item.title }}</h5>
            <div class="price_info">
              <div class="money">
                ￥{{ item.price }}<span>￥{{ item.oldPrice }}</span>
              </div>
              <el-input-number
                v-model="item.count"
                :min="1"
                :max="10"
                size="mini"
                class="price_count"
              ></el-input-number>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- <div class="order_count">
      <van-submit-bar :price="sumPrice" button-text="提交订单" @submit="toPay">
        <van-checkbox v-model="checkAll">全选</van-checkbox>
      </van-submit-bar>
    </div> -->

    <div class="order_count">
      <el-checkbox
        :indeterminate="isIndeterminate"
        v-model="checkAll"
        @change="handleCheckAllChange"
        >全选</el-checkbox
      >
      <section>
        <span class="money">合计：¥{{ sumPrice }}</span>
        <van-button type="info" round @click="toPay" style="padding:0 15px;">结算({{ selectedCount }})</van-button>
      </section>
      
    </div>
    <foot-bar></foot-bar>
  </div>
</template>
<script>
import { mapState } from "vuex";
import _ from "lodash";
import FootBar from "@/components/FootBar";
export default {
  name: "ShoppingCart",
  components: { FootBar },
  data() {
    return {
      checkAll: false,
      isIndeterminate: false,
      carts: [
        {
          id: "2323",
          title: "田园手绘 可进微波炉的小方盘碟 4只装",
          desc: "",
          price: 38,
          oldPrice: 68,
          count: 1,
          checked: true,
        },
        {
          id: "4545",
          title: "甜甜的糖果味女式轻量双肩包",
          desc: "",
          price: 98,
          oldPrice: 138,
          count: 1,
          checked: false,
        },
      ],
    };
  },
  computed: {
    sumPrice() {
      let sum = 0;
      _.forEach(this.carts, (it) => {
        if (it.checked) {
          sum += it.count * it.price;
        }
      });
      return sum;
    },
    selectedCount() {
      let count = 0;
      let selectedList = _.filter(this.carts, (it) => {
        return it.checked;
      });
      return selectedList.length;
    },
    cartLen() {
      return this.carts.length;
    },
  },
  mounted() {
    this.$store.commit("setCartLen", this.cartLen);
  },
  methods: {
    hanldeChecked() {
      if (this.selectedCount && this.selectedCount == this.carts.length) {
        this.checkAll = true;
      } else {
        this.checkAll = false;
      }
    },
    handleCheckAllChange(data) {
      _.forEach(this.carts, (it) => {
        it.checked = data;
      });
    },
    toPay() {
      //结算
      const loading = this.$loading({
        lock: true,
        text: "Loading",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      setTimeout(() => {
        loading.close();
        _.remove(this.carts, (it) => {
          return it.checked == true;
        });
        this.$message({
          message: "提交订单成功，订单信息和支付过程省略",
          type: "success",
        });
      }, 1000);
    },
  },
  watch: {
    cartLen(data) {
      this.$store.commit("setCartLen", data);
    },
  },
};
</script>
<style scoped lang="less">
@import "~@/assets/css/global.less";
.page_head {
  height: @headerH;
  line-height: @headerH;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  h1 {
    font-size: 1.2rem;
    text-align: left;
    span {
      font-weight: normal;
      font-size: 1rem;
      padding-left: 5px;
    }
  }
}
.cart_box {
  background: #f2f2f2;
  padding-top: @contentPadding;
  padding-bottom: @contentPadding;
  overflow-y: auto;
  height: calc(~"100vh - @{headerH} - @{footerH} - 60px");
  .cart_item {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .goods_box {
      display: flex;
      width: calc(~"100% - 35px");
      figure {
        margin-right: 10px;
        width: 35%;
        img {
          width: 100%;
          vertical-align: bottom;
        }
      }

      .goods_des {
        position: relative;
        width: 65%;
        h5 {
          text-align: left;
          font-weight: normal;
          font-size: 0.875rem;
          line-height: 1.5;
        }
      }
      .price_info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        bottom: 0;
        align-items: center;
        .price_count {
          width: 100px;
        }
        .money {
          color: @maincolor1;
          font-weight: bold;
          span {
            color: #c1c1c1;
            text-decoration: line-through;
            font-weight: normal;
            font-size: 0.6rem;
            padding-left: 5px;
          }
        }
      }
    }
  }
}
.order_count {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 @contentPadding;
  /deep/ .el-checkbox__input.is-checked+.el-checkbox__label{
    color: @black1;
  }
  section{
    display: flex;
    align-items: center;
  }
  .money {
    color: @maincolor1;
    font-weight: bold;
    margin-right: 10px;
    font-size: 1rem;
  }
}
</style>
