<template>
  <header class="container">
    <van-row>
      <van-col span="4" class="logo_text">逛噻</van-col>
      <van-col span="20">
        <div class="search_bar">
          <van-search v-model="keyWords" placeholder="请输入搜索关键词" @search="search" />
          <van-button round type="primary" class="search_btn" @click="search">搜索</van-button>
        </div>
      </van-col>
    </van-row>
  </header>
</template>

<script>
export default {
  name: "HeadBar",
  data() {
    return {
      keyWords: ""
    };
  },
  methods: {
    clearKeywords() {
      console.log("clear");
    },
    search(){
      this.$router.push({name:"SearchResult"})
    }
  },
};
</script>


<style scoped lang="less">
@import "~@/assets/css/global.less";
@searchH: 1.875rem;
header {
  height: @headerH;
  // position: fixed;
  width: 100%;
  background: #fff;
  left: 0;
  top: 0;
  z-index: 10;
  //  padding-top:10px;

  .logo_text {
    font-size: 1.5rem;
    font-weight: normal;
    color: @maincolor1;
    line-height: @headerH;
  }
}
.search_bar {
  padding-left: 0.3rem;
  position: relative;
  /deep/ .van-search__content {
    border: 1px @maincolor1 solid;
    border-radius: 20px;
    padding-right:60px;
  }
  /deep/ .van-search {
    padding: 7px 0 0;
  }
  .search_btn {
    position: absolute;
    right: 3px;
    top: 10px;
    height: @searchH;
    background: @maincolor1;
    border-color: @maincolor1;
  }
}
</style>
